In [1]:
from pycaret.classification import *
from sklearn.decomposition import PCA
from sklearn.datasets import fetch_20newsgroups

In [2]:
from pycaret.datasets import get_data
dataset = get_data('juice')

print(dataset.shape)

,Id,Purchase,WeekofPurchase,StoreID,PriceCH,PriceMM,DiscCH,DiscMM,SpecialCH,SpecialMM,LoyalCH,SalePriceMM,SalePriceCH,PriceDiff,Store7,PctDiscMM,PctDiscCH,ListPriceDiff,STORE
0,1,CH,237,1,1.75,1.99,0.00,0.0,0,0,0.500000,1.99,1.75,0.24,No,0.000000,0.000000,0.24,1
1,2,CH,239,1,1.75,1.99,0.00,0.3,0,1,0.600000,1.69,1.75,-0.06,No,0.150754,0.000000,0.24,1
2,3,CH,245,1,1.86,2.09,0.17,0.0,0,0,0.680000,2.09,1.69,0.40,No,0.000000,0.091398,0.23,1
3,4,MM,227,1,1.69,1.69,0.00,0.0,0,0,0.400000,1.69,1.69,0.00,No,0.000000,0.000000,0.00,1
4,5,CH,228,7,1.69,1.69,0.00,0.0,0,0,0.956535,1.69,1.69,0.00,Yes,0.000000,0.000000,0.00,0

(1070, 19)

In [3]:
py = setup(
    data=dataset,
    target='Purchase',
    session_id=123,
    experiment_name=None,
    text_features=None,
    ignore_features=["Id"],
    keep_features=["SalePriceCH"],
    preprocess=True,
    imputation_type='simple',
    numeric_iterative_imputer='lightgbm',
    categorical_iterative_imputer='lightgbm',
    max_encoding_ohe=5,
    remove_multicollinearity=True,
    multicollinearity_threshold=0.8,
    bin_numeric_features=["PriceMM"],
    remove_outliers=True,
    outliers_method="lof",
    outliers_threshold=0.5,
    normalize=True,
    feature_selection=True,
    feature_selection_method="classic",
    feature_selection_estimator="rf",
    n_features_to_select=7,
    custom_pipeline=[("pca", PCA(n_components=5))],
    data_split_stratify=["SalePriceCH", "Purchase"],
    system_log=False,
    memory=False,
)

In [4]:
best_model = create_model("lr")

In [5]:
predict_model(best_model, data=None, encoded_labels=True)

,Purchase,WeekofPurchase,StoreID,PriceCH,PriceMM,DiscCH,DiscMM,SpecialCH,SpecialMM,LoyalCH,SalePriceMM,SalePriceCH,PriceDiff,Store7,PctDiscMM,PctDiscCH,ListPriceDiff,STORE,Label,Score
748,MM,255,2,1.89,2.18,0.13,0.00,0,0,0.035549,2.18,1.76,0.42,No,0.000000,0.068783,0.29,2,MM,0.8404
749,MM,242,2,1.75,1.99,0.16,0.30,0,1,0.400000,1.69,1.59,0.10,No,0.150754,0.091429,0.24,2,MM,0.7126
750,CH,274,7,1.86,2.13,0.47,0.54,1,0,0.400000,1.59,1.39,0.20,Yes,0.253521,0.252688,0.27,0,CH,0.5017
751,CH,238,1,1.75,1.99,0.00,0.00,0,0,0.564800,1.99,1.75,0.24,No,0.000000,0.000000,0.24,1,CH,0.6921
752,MM,240,7,1.86,2.09,0.00,0.00,0,0,0.953271,2.09,1.86,0.23,Yes,0.000000,0.000000,0.23,0,CH,0.9804
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065,CH,263,7,1.86,2.13,0.27,0.00,0,0,0.813222,2.13,1.59,0.54,Yes,0.000000,0.145161,0.27,0,CH,0.9761
1066,CH,277,1,1.99,2.13,0.24,0.00,0,0,0.795200,2.13,1.75,0.38,No,0.000000,0.120603,0.14,1,CH,0.8942
1067,CH,274,7,1.86,2.13,0.47,0.54,1,0,0.965640,1.59,1.39,0.20,Yes,0.253521,0.252688,0.27,0,CH,0.9580
1068,CH,265,1,1.76,1.99,0.00,0.10,0,0,0.833234,1.89,1.76,0.13,No,0.050251,0.000000,0.23,1,CH,0.8860
1069,MM,231,2,1.69,1.69,0.30,0.00,1,0,0.135607,1.69,1.39,0.30,No,0.000000,0.177515,0.00,2,MM,0.9241

In [6]:
ensemble_model(best_model, method='Boosting')

AdaBoostClassifier(base_estimator=LogisticRegression(max_iter=1000,
                                                     random_state=123),
                   n_estimators=10, random_state=123)

In [ ]:
models = compare_models(turbo=False, n_select=5)

IntProgress(value=0, description='Processing: ', max=99)

Initiated  . . . . . . . . . . . . . . . . . .              17:37:30
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Empty DataFrame
Columns: [Model, Accuracy, AUC, Recall, Prec., F1, Kappa, MCC, TT (Sec)]
Index: []