<a href="https://colab.research.google.com/github/amjadraza/pycaret/blob/feature%2Fgcp_azure_np_docs/examples/test_notebook_model_deployment_azure_gcp_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  <span style="color:orange">Binary Classification  Tutorial (CLF101) - Level Beginner</span>

In [ ]:
! pip uninstall pycaret
!pip install git+https://github.com/amjadraza/pycaret.git@feature/gcp_azure_np_docs

In [4]:
from pycaret.classification import *

In [5]:
from pycaret.datasets import get_data
dataset = get_data('credit')

   LIMIT_BAL  SEX  EDUCATION  MARRIAGE  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6  default
0      20000    2          2         1  ...       0.0       0.0       0.0        1
1      90000    2          2         2  ...    1000.0    1000.0    5000.0        0
2      50000    2          2         1  ...    1100.0    1069.0    1000.0        0
3      50000    1          2         1  ...    9000.0     689.0     679.0        0
4      50000    1          1         2  ...    1000.0    1000.0     800.0        0

[5 rows x 24 columns]

In [6]:
data = dataset.sample(frac=0.95, random_state=786).reset_index(drop=True)
data_unseen = dataset.drop(data.index).reset_index(drop=True)

print('Data for Modeling: ' + str(data.shape))
print('Unseen Data For Predictions: ' + str(data_unseen.shape))

Data for Modeling: (22800, 24)
Unseen Data For Predictions: (1200, 24)

In [ ]:
exp_clf101 = setup(data = data, target = 'default', session_id=123)

In [8]:

rf = create_model('rf')

In [9]:
tuned_rf = tune_model(rf)

In [10]:
predict_model(tuned_rf);

                      Model  Accuracy     AUC  ...      F1   Kappa     MCC
0  Random Forest Classifier    0.8135  0.7563  ...  0.4349  0.3383  0.3688

[1 rows x 8 columns]

# 12.0 Finalize Model for Deployment

In [11]:
final_rf = finalize_model(tuned_rf)

In [12]:
#Final Random Forest model parameters for deployment
print(final_rf)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=10, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=2, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, n_estimators=70, n_jobs=-1,
                       oob_score=False, random_state=123, verbose=0,
                       warm_start=False)

In [13]:
predict_model(final_rf);

                      Model  Accuracy     AUC  ...      F1   Kappa     MCC
0  Random Forest Classifier    0.8345  0.8222  ...  0.4924  0.4082  0.4489

[1 rows x 8 columns]

# 13.0 Deploy Model on Microsoft Azure

This is the code to deploy model on Microsft azure using `pycaret` functionalities.

In [22]:
# ! pip install azure-storage-blob
! pip install awscli

Collecting awscli
  Downloading https://files.pythonhosted.org/packages/77/b4/1d7ec7e12f7348f75b7c879e53c7bbd1b4069e5b80b6ef2cb1a620205986/awscli-1.18.115-py2.py3-none-any.whl (3.3MB)
     || 3.3MB 8.9MB/s
Collecting colorama<0.4.4,>=0.2.5; python_version != "3.4"
  Downloading https://files.pythonhosted.org/packages/c9/dc/45cdef1b4d119eb96316b3117e6d5708a08029992b2fee2c143c7a0a5cc5/colorama-0.4.3-py2.py3-none-any.whl
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from awscli) (0.15.2)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from awscli) (0.3.3)
Collecting botocore==1.17.38
  Downloading https://files.pythonhosted.org/packages/2a/d2/c5f9834dc659eb78bad85b683915a31593137ab43c323ac0dc7a83e27e96/botocore-1.17.38-py2.py3-none-any.whl (6.5MB)
     || 6.5MB 51.1MB/s
Requirement already satisfied: PyYAML<5.4,>=3.10; python_version != "3.4" in /usr/local/lib/python3.6/dist-packages (from awscli) (3.13)
Collecting rsa<=4.5.0,>=3.1.2; python_version != "3.4"
  Downloading https://files.pythonhosted.org/packages/26/f8/8127fdda0294f044121d20aac7785feb810e159098447967a6103dedfb96/rsa-4.5-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.6/dist-packages (from botocore==1.17.38->awscli) (2.8.1)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from botocore==1.17.38->awscli) (0.10.0)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version != "3.4" in /usr/local/lib/python3.6/dist-packages (from botocore==1.17.38->awscli) (1.24.3)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<=4.5.0,>=3.1.2; python_version != "3.4"->awscli) (0.4.8)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore==1.17.38->awscli) (1.15.0)
Installing collected packages: colorama, botocore, rsa, awscli
  Found existing installation: botocore 1.17.33
    Uninstalling botocore-1.17.33:
      Successfully uninstalled botocore-1.17.33
  Found existing installation: rsa 4.6
    Uninstalling rsa-4.6:
      Successfully uninstalled rsa-4.6
Successfully installed awscli-1.18.115 botocore-1.17.38 colorama-0.4.3 rsa-4.5

In [14]:
## Enter connection string when running in google colab
connect_str = 'DefaultEndpointsProtocol=https;AccountName=pycaret;AccountKey=7asiMq0CV03Ez2LdI8jpDsbOWktPA2lp+X2jQTusEvyk65xgggYw6UyWzmKntIWVplGlTiQeizQgYiujNuz55g==;EndpointSuffix=core.windows.net' #@param {type:"string"}
print(connect_str)

DefaultEndpointsProtocol=https;AccountName=pycaret;AccountKey=7asiMq0CV03Ez2LdI8jpDsbOWktPA2lp+X2jQTusEvyk65xgggYw6UyWzmKntIWVplGlTiQeizQgYiujNuz55g==;EndpointSuffix=core.windows.net

In [15]:
#! export AZURE_STORAGE_CONNECTION_STRING=connect_str

In [18]:
import os
os.environ['AZURE_STORAGE_CONNECTION_STRING']= connect_str

In [19]:
! echo $AZURE_STORAGE_CONNECTION_STRING

DefaultEndpointsProtocol=https;AccountName=pycaret;AccountKey=7asiMq0CV03Ez2LdI8jpDsbOWktPA2lp+X2jQTusEvyk65xgggYw6UyWzmKntIWVplGlTiQeizQgYiujNuz55g==;EndpointSuffix=core.windows.net

In [20]:
os.getenv('AZURE_STORAGE_CONNECTION_STRING')

'DefaultEndpointsProtocol=https;AccountName=pycaret;AccountKey=7asiMq0CV03Ez2LdI8jpDsbOWktPA2lp+X2jQTusEvyk65xgggYw6UyWzmKntIWVplGlTiQeizQgYiujNuz55g==;EndpointSuffix=core.windows.net'

In [24]:
authentication = {'container': 'pycaret-cls-1011'}
model_name = 'rf-clf-101'
deploy_model(final_rf, model_name, authentication, platform = 'azure')

In [25]:
authentication = {'container': 'pycaret-cls-1011'}
model_name = 'rf-clf-101'
model_azure = load_model(model_name, 
               platform = 'azure', 
               authentication = authentication,
               verbose=True)

Downloading blob to
	rf-clf-101.pkl

In [26]:

unseen_predictions = predict_model(model_azure, data=data_unseen, verbose=True)

In [27]:
unseen_predictions

      LIMIT_BAL  SEX  EDUCATION  MARRIAGE  ...  PAY_AMT6  default  Label   Score
0         50000    2          2         1  ...     500.0        0      0  0.1591
1        200000    2          1         1  ...       0.0        1      1  0.7779
2         50000    2          3         1  ...       0.0        1      1  0.6478
3         60000    2          2         1  ...    1053.0        1      1  0.5038
4        120000    2          3         2  ...    3200.0        0      0  0.1394
...         ...  ...        ...       ...  ...       ...      ...    ...     ...
1195      80000    1          2         2  ...    4000.0        1      1  0.7523
1196     150000    1          3         2  ...       0.0        0      0  0.1499
1197      30000    1          2         2  ...    3100.0        1      0  0.4876
1198      80000    1          3         1  ...    1804.0        1      0  0.2613
1199      50000    1          2         1  ...    1000.0        1      0  0.1569

[1200 rows x 26 columns]

# 13.0 Deploy Model on Google Cloud

After the model is finalised and you are happy with the model, you can deploy the model on your cloud of choice. In this section, we deploy the model on the google cloud platform.

In [28]:
from google.colab import auth
auth.authenticate_user()

In [ ]:
! pip install awscli

In [29]:
# GCP project name, Change the name based on your own GCP project.
CLOUD_PROJECT = 'gcpessentials-rz' # GCP project name
bucket_name = 'pycaret-clf1011-test1' # bucket name for storage of your model
BUCKET = 'gs://' + CLOUD_PROJECT + '-{}'.format(bucket_name)
# Set the gcloud consol to $CLOUD_PROJECT Environment Variable for your Desired Project)
!gcloud config set project $CLOUD_PROJECT

Updated property [core/project].

In [30]:
authentication = {'project': CLOUD_PROJECT, 'bucket' : bucket_name}
model_name = 'rf-clf'
deploy_model(final_rf, model_name, authentication, platform = 'gcp')

In [31]:
authentication = {'project': CLOUD_PROJECT, 'bucket' : bucket_name}
model_name = 'rf-clf'
model_gcp = load_model(model_name, 
               platform = 'gcp', 
               authentication = authentication,
               verbose=True)

In [33]:

unseen_predictions = predict_model(model_gcp, data=data_unseen, verbose=True)

In [34]:
unseen_predictions

      LIMIT_BAL  SEX  EDUCATION  MARRIAGE  ...  PAY_AMT6  default  Label   Score
0         50000    2          2         1  ...     500.0        0      0  0.1591
1        200000    2          1         1  ...       0.0        1      1  0.7779
2         50000    2          3         1  ...       0.0        1      1  0.6478
3         60000    2          2         1  ...    1053.0        1      1  0.5038
4        120000    2          3         2  ...    3200.0        0      0  0.1394
...         ...  ...        ...       ...  ...       ...      ...    ...     ...
1195      80000    1          2         2  ...    4000.0        1      1  0.7523
1196     150000    1          3         2  ...       0.0        0      0  0.1499
1197      30000    1          2         2  ...    3100.0        1      0  0.4876
1198      80000    1          3         1  ...    1804.0        1      0  0.2613
1199      50000    1          2         1  ...    1000.0        1      0  0.1569

[1200 rows x 26 columns]